.card-container {
    overflow-y: auto;
    max-height: 600px; 
    
    padding-right: 20px; 
    

}
.card-container {

    scrollbar-width:20px;
    scrollbar-color: black  rgba( 255, 255, 255, 0.25 ); 
}
.card-container::-webkit-scrollbar-thumb{
    background-color: blue; 
    border-radius: 10px;
}
.card-container::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 52px;
    /* border: 2px red solid; */
}



.card{
    margin-top: 20px;
    height: 200px;
    border: 1px rgb(189, 189, 189) solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 52px;
background: rgba( 255, 255, 255, 0.25 );
backdrop-filter:blur(10px) ;

/* border: 2px blue solid; */
}

.CardImg{
    /* border: 2px blue solid; */
    /* height: 100%; */
    width: 100px;
    height: 100px;
    margin-top: 10px;


}
.CardImg img{
    /* border: 2px green solid; */
    margin-top: 20px;
    margin-left: 10px;
    
}
.card .rightPartOfCard {
    /* border: 2px yellow solid;     */
}
.card .rightPartOfCard h4{
    position: relative;
    top: -110px;
    left: 110px;
    font-weight:400;
    /* color: rgb(88, 87, 87); */

}
.card .rightPartOfCard h3{
    position: relative;
    top: -125px;
    left: 110px;
    color: black;
}
.MidRowOfTheCard{
    display: flex;
    position: relative;
    top: -130px;
    left: 100px;
    font-size: 15px;
    color: rgb(88, 87, 87);
    /* color: white; */
    

    /* border: 2px yellow solid; */
}

.MidRowOfTheCard span {
    /* border: 2px red solid; */
    padding: 0px 6px;    

}
.rightPartOfCard p{
    position: relative;
    top: -140px;
    left: 110px;
    /* border: 2px red solid; */
    width: 360px;
    font-size: 14px;
    /* font-weight: 500; */
    color: rgb(88, 87, 87);
    color: black;


}






.ppp{
    text-decoration: none;
}

