 /* .App {
  text-align: center;
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* textarea{
  background-color: blue;
  color:red; */
/* }
.btn-primarygi{
  background: blue;
  height: 40px;
  width: 250px;
}
 */


.circle{
  border: 2px red solid;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.circle:hover{
  border: 100%;
}
/* .clickbutton{
  margin-top: 20px;
  margin-left: 20px;
  border: none;
  border-radius: 10px;
  border: 2px solid gray;
  text-align: center;
  box-shadow: 5px 5px 0px 0px; ;
  
}



.lesgo{
  background-color: blueviolet;
} */
/* .lesgo p:hover{
  color: red;
  background-color: green;
  
} */

.main{
  width: 80%;
  margin-left: 10%;
  border: 2px grey solid;
  border-radius: 5px;

}

