.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*  */

.cart-wrapper{
  border: 2px grey solid;
  height: 200px;
}

.img-wrapper{
  color: 2px red solid;
  
  
}

.img-wrapper img{
  width: 250px;
  height: 200px;
  position: absolute;
  left: 200px;
}

.text-wrapper{
  position: absolute;
  top: 120px;
  right: 600px;
}
.btn-wrapper{
  position: absolute;
  top: 160px;
  right: 675px;
}

.btn-wrapper button{
  background: red;
  border: 0px;
  border-radius: 5px;
  padding: 8px;
  color: white;
  cursor: pointer;
}
.add-to-cart-wrapper img{
  width: 50px;
  position: absolute;
  right: 2px;
  cursor: pointer;


}