.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*  */

.main{
  border: grey 2px solid;
  min-width:23%;
  max-width:23%;


  height: 400px;
  margin: 5px;
 
  
}


.main-two{
  /* border: green 2px solid; */
}
.card{
}

.image{
  height:250px;
  text-align: center;
  /* border: green 2px solid; */
  width: 99%;

}
.image img{
  height: 200px;
  /* border: green 2px solid; */
  width: 99%;

}

.header{
color: black;
  /* border: green 2px solid; */
font-size: 20px;
font-weight:bold;
margin-top: 8px;


}

.price{
  color: black;
    /* border: green 2px solid; */
  font-size: 20px;
  font-weight:bold;
  margin-top: 8px;
  

  }

  .content{
    margin-left: 6px;
  }